.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);

  .modal {
    width: 95%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: white;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;

    .title {
      border-bottom: 1px solid grey;
      padding: 3px;
    }

    .modal-btns {
      display: flex;
      justify-content: space-between;

      button {
        padding: 5px;
      }
    }
  }
}
